<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eliteams.weixin.dao.WeiUserMapper">
    <resultMap id="BaseResultMap" type="com.eliteams.weixin.model.WeiUser">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="subscribe" property="subscribe" jdbcType="VARCHAR" />
        <result column="openid" property="openid" jdbcType="VARCHAR" />
        <result column="nickname" property="nickname" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="language" property="language" jdbcType="VARCHAR" />
        <result column="city" property="city" jdbcType="VARCHAR" />
        <result column="province" property="province" jdbcType="VARCHAR" />
        <result column="country" property="country" jdbcType="VARCHAR" />
        <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR" />
    </resultMap>
    <select id="countByExample" parameterType="com.eliteams.weixin.model.WeiUser" resultType="java.lang.Integer">
        select count(*) from wei_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
    </select>

    <!-- 分页条件查询 -->
    <select id="selectByExampleAndPage" resultMap="BaseResultMap" parameterType="com.eliteams.weixin.model.WeiUser">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List" />
        from wei_user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause" />
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
</mapper>